<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EasyTo_Do.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EasyTo_do.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <EasyTo_Do.My.MySettings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="PfpPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorScheme" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="SidebarOnStart" serializeAs="String">
                <value>Expanded</value>
            </setting>
            <setting name="TaskPropertiesSidebarOnStart" serializeAs="String">
                <value>Expanded</value>
            </setting>
            <setting name="TimeFormat" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="IsPfpVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsUsernameVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsPfpDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImBatman" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=To_Do.sdf;Persist Security Info=False;</value>
            </setting>
        </EasyTo_Do.My.MySettings>
        <EasyTo_do.Settings1>
            <setting name="ColorScheme" serializeAs="String">
                <value>Dark</value>
            </setting>
        </EasyTo_do.Settings1>
    </userSettings>
</configuration>