<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EasyTo_do.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <EasyTo_do.My.MySettings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="PfpPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorScheme" serializeAs="String">
                <value>Dark</value>
            </setting>
        </EasyTo_do.My.MySettings>
    </userSettings>
</configuration>